ex1{
    color:white;
    
    
}
.ex2{
text-align:center ;
}
body{
    background-image:url("https://imgur.com/ULCaFQw.jpg");
    font-family: 'Marcellus', serif;
    background-repeat:no-repeat;
    
}
.ex3{
    text-align:center ;
}
